<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Blog AlSan | Aliaksei Sanikovich">
    <title>@ViewBag.Title | AlSan Blog</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
</head>
<body>
    <div class="wrapper">

        <header class="cf">
            <div id="logo"><a href="@Url.Action("Index","Home")"><img src="~/Content/img/logo.png" alt="AlSan Blog" /></a></div>
            <ul id="social-bar" class="cf">
                <li class="dribbble"><a href="http://allok.us/" title="Main Site" target="_blank"></a></li>
                <li class="facebook"><a href="https://www.facebook.com/vseokDOG" title="Facebook" target="_blank"></a></li>
                <li class="googleplus"><a href="https://plus.google.com/+AlexeiSanikovich/posts" title="Google Plus" target="_blank"></a></li>
                <li class="twitter"><a href="https://twitter.com/allokDOG" title="Twitter" target="_blank"></a></li>
                <li class="lastfm"><a href="http://www.lastfm.ru/user/allokDOG" title="Last.fm" target="_blank"></a></li>
            </ul>
        </header>

        <nav class="cf">
            <ul id="nav" class="sf-menu">
                @if (ViewBag.idpage == 1) {<li class="current-menu-item"><a href="@Url.Action("Index","Home")">Главная</a></li>}
                    else {<li><a href="@Url.Action("Index","Home")">Главная</a></li>}
                @if (ViewBag.idpage == 2) {<li class="current-menu-item"><a href="@Url.Action("Index","Post")">Записи</a></li>}
                    else {<li><a href="@Url.Action("Index","Post")">Записи</a></li>}
                @if (ViewBag.idpage == 3) {<li class="important current-menu-item"><a href="@Url.Action("Add", "Admin")">Добавить</a></li>}
                    else {<li class="important"><a href="@Url.Action("Add", "Admin")">Добавить</a></li>}
            </ul>
        </nav>

        <div id="main" class="cf"> 
                           
            @RenderBody()

            <aside id="sidebar">
                <ul>
                    <li class="block">
                        <h4 class="heading">Поиск</h4>
                        <div class="small-posts-list ">

                            <form action="search.html" method="post" id="commentform">

                                <input id="search" name="search" type="text" value="" placeholder="Введите текст для поиска" size="10" required aria-required="true"></p>

                                <p class="form-submit">
                                    <input name="submit" type="submit" id="submit" value="Найти">
                                </p>

                            </form>

                        </div>
                    </li>

                    @Html.Action("RPost", "Main")
                    @Html.Action("RComm", "Main")
                    @Html.Action("Tags", "Main")

                </ul>
            </aside>

        </div>	<!-- ENDS MAIN -->

        <div class="footer-divider"></div> <!-- FOOTER -->
        <footer class="cf">
            Blog by <a href="http://allok.us" target="_blank">AlSan | Aliaksei Sanikovich</a>
        </footer>
</div>
</body>
</html>