@{
    ViewBag.Title = "Тэги";
    ViewBag.idpage = 0;
}
@model blogik.Models.TagNameModel
<div class="one-third-col one-third-col-my">
    <div class="my-posts-last">Записи по тегу «@Model.tagname»</div>
    <div class="block-divider my-block"></div>

    <ul class="recent-posts">
        @if (Model.tagskol == 0)
        {
            <li>
                <a href="@Url.Action("Index", "Home")" class="title">
                    К сожалению, по вашему запросу ничего не найдено!
                </a>
            </li>
        }

        @foreach (var item in Model.items)
        {
            <li>
                <a href="@Url.RouteUrl("Post", new { Controller = "Post", action = "NPost", id = @item.url })" class="title">
                    @item.name
                </a>
                <span class="date">@item.date.ToString("f")</span>
            </li>
        }
    </ul>

</div>