@{
    Layout = null;
}
@model blogik.Models.RCommModel
<li class="block">
    <h4 class="heading">Последние комментарии</h4>
    <div class="small-posts-list ">

        @foreach (var item in Model.items)
        {
            <div class="post cf">
                <div class="post-head">
                    <a href="@Url.RouteUrl("Post", new { Controller = "Post", action = "NPost", id = @item.url } )">@item.text</a>
                    <span class="meta"><a href="@Url.RouteUrl("Post", new { Controller = "Post", action = "NPost", id = @item.url } )">@item.date.ToString("D") by @item.username</a></span> @*TODO add #div-comment-1*@
                </div>
            </div>
        }

    </div>
</li>	