@{
    Layout = null;
}
@model blogik.Models.RCommModel
<li class="block">
    <h4 class="heading">Последние комментарии</h4>
    <div class="small-posts-list ">

        @foreach (var item in Model.items)
        {
            <div class="post cf">
                <div class="post-head">
                    <a href="@Url.RouteUrl("Post", new { Controller = "Post", action = "NPost", id = @item.url })#div-comment-@item.id_comm">
                    @item.text</a>
                    <span class="meta">
                        <a href="@Url.RouteUrl("Post", new { Controller = "Post", action = "NPost", id = @item.url })#div-comment-@item.id_comm">
                            @item.username - @item.date.ToString("g")
                        </a></span>
                </div>
            </div>
        }

    </div>
</li>	