@{
    Layout = null;
}
@model blogik.Models.RPostModel
<li class="block">
    <h4 class="heading">Последние записи</h4>
    <div class="small-posts-list ">

        @foreach (var item in Model.items)
        {
            <div class="post cf">
                <div class="post-head">
                    <a href="@Url.RouteUrl("Post", new { Controller = "Post", action = "NPost", id = @item.url } )">@item.name</a>
                    <span class="meta">
                    <a href="@Url.RouteUrl("Post", new { Controller = "Post", action = "NPost", id = @item.url } )">@item.date.ToString("f")</a></span>
                </div>
            </div>
        }

    </div>
</li>