@{
    ViewBag.Title = "Последние записи";
    ViewBag.idpage = 2;
}
@model blogik.Models.AllPostModel
<div class="one-third-col one-third-col-my">
    <div class="my-posts-last">Последние записи</div>
    <div class="block-divider my-block"></div>

    <ul class="recent-posts">
    @foreach (var item in Model.items)
    {
        <li>
            <a href="@Url.RouteUrl("Post", new { Controller = "Post", action = "NPost", id = @item.url })" class="title">
                @item.name
            </a>
            <span class="date">@item.date.ToString("f")</span>
        </li>
    }
    </ul>

    <ul class="pager cf">
        <li class="paged">Страница @Model.cur_page из @Model.num_pages</li>
        @for (int i = 1; i <= @Model.num_pages; i++)
        {
            if (i == @Model.cur_page)
            {
            <li class="active">
                <a href="@Url.RouteUrl("PostPage", new { Controller = "Post", action = "Index", id = @i })">@i</a>
            </li>
            }
            else
            {
            <li>
                <a href="@Url.RouteUrl("PostPage", new { Controller = "Post", action = "Index", id = @i })">@i</a>
            </li>
            }
        }
    </ul>

</div>