@{
    ViewBag.Title = @Model.name;
}
@model blogik.Models.PostModel
<div id="posts-list" class="cf single-post">

    <article class="cf">
        <div class="entry-title">
            <div class="post-heading">@Model.name ++++ @ViewBag.idpost</div>
            <div class="meta">@Model.date.ToString("D")</div>
        </div>
        <div class="block-divider"></div>
        <div class="excerpt entry-content">
            @Html.Raw(@Model.text) @*Вывод HTML*@
        </div>
    </article>

    <div class="block-divider"></div>

    <div id="comments-wrap">
        <h4 class="heading">2 комментария</h4>

        <ul class="commentlist">

            @foreach (var item in Model.comments)
            {
            <li class="comment">
                <div id="div-comment-1" class="comment-body">
                    <div class="comment-author vcard"><cite class="fn">@item.username</cite></div>
                    <div class="comment-meta commentmetadata">@item.date</div>
                    <p>@item.text</p>
                </div>
            </li>
            }

        </ul>

    </div>

    <div id="respond">
        <h4 class="heading">Оставить комментарий</h4>
        <form action="single.html" method="post" id="commentform">
            <p class="comment-notes">Заполните все поля обязательно<span class="required">*</span></p>

            <p class="comment-form-author">
                <label for="author">Имя</label>
                <input id="author" name="author" type="text" value="" size="30" required aria-required="true">
            </p>

            <p class="comment-form-comment">
                <label for="comment">Ваш комментарий</label>
                <textarea id="comment" name="comment" cols="25" rows="8" required aria-required="true"></textarea>
            </p>		<!-- Номер поста -->

            <p class="form-submit">
                <input name="submit" type="submit" id="submit" value="Отправить">
                <input type="hidden" name="comment_post_ID" value="34" id="comment_post_ID">
            </p>

        </form>
    </div>
    <div class="block-divider"></div>
    <div id="my-button"><a href="@Url.Action("Index","Post")" class="link-button green">Читать другие записи</a></div>

</div>