@{
    ViewBag.Title = "Поиск";
    ViewBag.idpage = 0;
    ViewBag.Admin = false;
    if (HttpContext.Current.User.Identity.Name == "AlSan") { ViewBag.Admin = true; }
}
@model blogik.Models.AllPostModel
<div class="one-third-col one-third-col-my">
    <div class="my-posts-last">Результаты поиска «@Model.search_t»</div>
    <div class="block-divider my-block"></div>

    <ul class="recent-posts">
        @if(Model.cur_page==0) {
            <li>
                <a href="@Url.Action("Index", "Home")" class="title">
                    К сожалению, по вашему запросу ничего не найдено!
                </a>
            </li>
        }

        @foreach (var item in Model.items)
        {
            <li>
                <a href="@Url.RouteUrl("Post", new { Controller = "Post", action = "NPost", id = @item.url })" class="title">
                    @item.name
                </a>
                <span class="date">@item.date.ToString("f")</span>
            </li>
        }
    </ul>

</div>